In [1]:
import pandas as pd
import numpy as np
import os
import csv

In [2]:
# CSV file
csvfile1 = "hawaii_stations.csv"
csvfile2 = "hawaii_measurements.csv"

# Read CSV file into a pandas DataFrame
stations_RAW = pd.read_csv(csvfile1, encoding="iso-8859-1")
station_counter1 = len(stations_RAW['station'])                 #data set is only 9 rows long
stations_df=pd.DataFrame(stations_RAW)
stations_df.head()


#####################################checks
#station_counter1 = len(stations_df['station'].unique())      # Tells me that the dataset has 9 unique stations
#station_counter1

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [3]:
#Inspecting for Null
stations_df.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [4]:
# CSV file
csvfile2 = "hawaii_measurements.csv"

# Read CSV file into a pandas DataFrame
measurements_RAW = pd.read_csv(csvfile2, encoding="iso-8859-1")
#station_counter2 = len(measurements_RAW['station'])  # Tells me that the dataset has 9 'unique' stations but the dataset is 19,550 rows long
measurements_df=pd.DataFrame(measurements_RAW)
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [5]:
#Inspecting for missing data
measurements_df.count()
#Nulls were found

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [6]:
measurements_df.describe()

               prcp          tobs
count  18103.000000  19550.000000
mean       0.160644     73.097954
std        0.468746      4.523527
min        0.000000     53.000000
25%        0.000000     70.000000
50%        0.010000     73.000000
75%        0.110000     76.000000
max       11.530000     87.000000

In [7]:
# check is to review the rain and temp data for reasonability 

minrain = measurements_df['prcp'].min()
maxrain = measurements_df['prcp'].max()
maxtemp = measurements_df['tobs'].max()
mintemp = measurements_df['tobs'].min()
print('maxrain : ', maxrain, ' | minrain : ',minrain, ' | maxtemp : ', maxtemp, ' | mintemp : ',mintemp)

maxrain :  11.53  | minrain :  0.0  | maxtemp :  87  | mintemp :  53

In [8]:
#Nulls were found in Second data set and will be replaced with 0s. 
CLEAN_measurements_df=pd.DataFrame(measurements_RAW)
CLEAN_measurements_df= CLEAN_measurements_df.fillna(0)


CLEAN_measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [9]:
CLEAN_measurements_df.count()

station    19550
date       19550
prcp       19550
tobs       19550
dtype: int64

In [10]:
# Save the cleaned data to a file called `customers_cleaned.csv`
# stations_df does not need to be cleaned. 


cl_meas_df = "CLEAN_measurements_hawaii.csv"
CLEAN_measurements_df.to_csv(cl_meas_df, index=False)


cl_stat_df="CLEAN_Station_hawaii.csv"
stations_df.to_csv(cl_stat_df, index=False)

In [11]:
##########################################
#########Step 2###########################
##########################################