In [1]:
##########################################
#########Step 2###########################
##########################################

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [4]:
# Create an engine to a database file called `hawaii.sqlite`
### BEGIN SOLUTION
engine = create_engine("sqlite:///hawaii.sqlite")
### END SOLUTION

In [5]:
# Created a connection to the engine called `conn`
### BEGIN SOLUTION
conn = engine.connect()
### END SOLUTION

In [6]:
# Used `declarative_base` from SQLAlchemy to model the hawaii database as an ORM class

Base = declarative_base()

class Station(Base):
    __tablename__ = 'station'
    id=Column(Integer, primary_key=True)
    station = Column(String(25))
    name = Column(String(50))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
   # children = Column(Integer)


    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [7]:
# Used `declarative_base` from SQLAlchemy to model the hawaii database as an ORM class 
    
class Measurements(Base):
    __tablename__ = 'measurements'
    id=Column(Integer, primary_key=True)
    station = Column(String(25))
    date = Column(String(25))
    prcp = Column(Float)
    tobs = Column(Integer)


    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [8]:
# Use `create_all` to create the demographics table in the database
### BEGIN SOLUTION
Base.metadata.create_all(engine)
### END SOLUTION

In [9]:
# Load the cleaned csv file into a pandas dataframe
### BEGIN SOLUTION
df_of_measurements = pd.read_csv('CLEAN_measurements_hawaii.csv')
df_of_station = pd.read_csv('CLEAN_Station_hawaii.csv')
### END SOLUTION

In [10]:
# Use Orient='records' to create a list of data to write
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
### BEGIN SOLUTION
Measurements = df_of_measurements.to_dict(orient='records')
Stations = df_of_station.to_dict(orient='records')
Stations[0]
Measurements[0]

{'date': '2010-01-01', 'prcp': 0.08, 'station': 'USC00519397', 'tobs': 65}

In [11]:
# Use MetaData from SQLAlchemy to reflect the tables

metadata = MetaData(bind=engine)
metadata.reflect()

In [12]:
### BEGIN SOLUTION
station_data= sqlalchemy.Table('station', metadata, autoload=True)
weather_data= sqlalchemy.Table('measurements', metadata, autoload=True)

In [13]:
# Use `table.delete()` to remove any existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.

conn.execute(station_data.delete())
conn.execute(weather_data.delete())

In [14]:
# Use `table.insert()` to insert the data into the table
### BEGIN SOLUTION
conn.execute(station_data.insert(), Stations)
conn.execute(weather_data.insert(), Measurements)
### END SOLUTION

In [15]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from station limit 5").fetchall()
conn.execute("select * from measurements limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-06', 0.0, 73)]